@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    margin: 0 auto;
    background-color: #000000;
    height: 1000px;
    position: relative;
}


.home {
    height: 90vh;
    width: 100%;
    position: relative;
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 400px;
}

.logoPaixao {
    width: 120px;
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 2;
}

.imgFundoAnimacao {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    animation: move 3s linear;
}

@keyframes move {
    0% {
        bottom: -530px;
    }

    100% {
        bottom: 0px;
    }

}




.linksPagina {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    right: 15%;
    top: 20px;
    font-size: 18px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.linksPagina a {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: 0.2s;
    border: black;
}

.linksPagina a:hover {
    border-bottom: 2px solid rgb(255, 255, 255)
}

.caixaImgFogo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    width: 900px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    animation: textPosition 3s linear;
    background-image: url("./img/pergaminhoTexto2.png");
    background-size: cover;

}

@keyframes textPosition {

    0% {
        top: -100px;
    }

    20% {
        top: -100px;
    }


    100% {
        top: 200px;

    }

}

.caixaImgFogo h1 {
    background-image: url("../img/flame.gif");
    background-size: contain;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 70px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    animation: opacityText 4s linear;
    z-index: 1;
}


@keyframes opacityText {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    .linksPagina {
        width: 500px;
        right: 9%;

    }
}


@media screen and (max-width:790px) {
    .linksPagina {
        width: 400px;
        right: 9%;

    }
}

.a {
    height: 300px;
    background-color: #D5AD7A;
}


.painelHistoria {
    height: 100vh;
    margin-bottom: 50px;
}

.historia,
.evento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h2 {
    color: #C4A135;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Berkshire Swash';
    font-size: 50px;
}

p {
    font-family: 'Lora';
    letter-spacing: 1.2px;
    color: white;
}

.conteudo {
    border: solid #C4A135;
    border-radius: 10px;
    width: calc(100% - 50px);
    max-width: 1400px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.conteudoTextImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    padding: 0 80px;
}

.imgBlur {
    background-image: url('./img/imgPaixao.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
    width: calc(100% - 100px);
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.imgHistoria {
    background-image: url('./img/imgPaixao.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
}


.painelLocal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
}

h3 {
    color: #C4A135;
    font-size: 37px;
    text-align: center;
}


.textData,
.textLocal {
    width: 100%;

}

.textLocal {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.data {
    width: calc(100% - 100px);
    max-width: 800px;
    height: 500px;
    background-color: gray;
    border-radius: 10px;
    margin: 0 auto;
}

.mapa {
    width: calc(100% - 600px);
    max-width: 600px;
    min-width: 300px;
    height: 350px;
    border-radius: 20px;
}

.painelPatrocinadores {
    height: 100vh;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    height: auto;
}

.gridPatrocinadores {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 300px;
    gap: 30px;
    width: calc(100% - 50px);
}

.gridPatrocinadores div {
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    width: 250px;
}


.painelContatos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgPergamino {
    background-image: url('./img/pergaminho.png');
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContatos h2 {
    color: #4C4223;
}

.textContatos p {
    color: #4C4223;
    font-weight: 100;
}



.iconContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.painelLinksContatos div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.painelLinksContatos div>p {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.iconContato div {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.iconContato p {
    margin: 0;
    color: black;
}

.iconContato img {
    width: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

.iconContato img:hover {
    transform: scale(1.2);
}

.conteudoPergaminho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-bottom: 100px;
}


.textFinal {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textFinal p {
    color: #4C4223;
    font-family: 'Berkshire Swash';
    font-size: 35px;
    margin: 0;
}

.rodaPe {
    width: 100%;
    height: 150px;
    border-top: solid 1px #C4A135;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rodaPe p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
    font-size: 8px;

}

.painelImg {
    background-image: linear-gradient(90deg, transparent, transparent, transparent, transparent, transparent, transparent, #2eb4e0);
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: girar 5s linear infinite;
    position: relative;
}


@keyframes girar {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(-360deg);
    }
}

.imgLogo {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}


.painelImjJJTech {
    width: 60px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.painelImjJJTech img {
    width: 23px;
    cursor: pointer;
}

.painelImjJJTech img:hover {
    transform: scale(1.2);
}






/* mobile */

.painelMenu {
    width: 0;
    height: 100vh;
    background-color: #000000d5;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;

}

.linksPaginaMobile {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.linksPaginaMobile a {
    padding: 14px;
    color: black;
    font-size: 18px;
    font-family: 'Berkshire Swash';
    text-align: center;
    text-decoration: none;
    background-image: url('./img/pergaminhoTexto2.png');
    background-size: cover;
    background-position: center;
}

.logoImgMenu {
    width: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}

.menuAtivo {
    width: 50%;
    transition: 1s;
}

.menu {
    position: fixed;
    width: 35px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
}




@media screen and (max-width:850px) {

    /* menu */
    .home {
        margin-bottom: 100px;
    }

    .logoPaixao {
        display: none;

    }

    .linksPagina {
        display: none;
    }

    .painelMenu {
        display: flex;
    }

    /*home*/
    .imgFundoAnimacao {}

    .caixaImgFogo {
        width: 700px;
        height: 70px;
        animation: textPosition 2s linear;
        margin: 0 auto;
        top: 300px;
    }

    .caixaImgFogo h1 {
        font-size: 3em;
        letter-spacing: 0;
        animation: opacityText 5s linear;
        margin: 0;
    }



}

@media screen and (max-width:650px) {

    .caixaImgFogo {
        width: 500px;

    }

     /* data e local */

     .data{
        height: 300px;
    }

    .mapa{
        height: 250px;
    }

}

@media screen and (max-width:450px) {

    .caixaImgFogo {
        width: 400px;
    }

    .caixaImgFogo h1 {
        font-size: 35px;
    }


}



@media screen and (max-width:700px) {

    /* painelHistoria */

    p {
        font-size: 13px;
    }

    .conteudo {
        height: 800px;
    }

    .conteudoTextImg {
        padding: 60px 15px;
    }

    .imgBlur {
        width: calc(100% - 10px);
        height: calc(100% - 100px);
    }

    .imgHistoria {
        width: 100%;
        height: 230px;
    }


    /* contatos */

    .painelPatrocinadores{
        margin-bottom: 100px;
    }

    .imgPergamino{
        width: 500px;
        height: 500px;
    }

    .textContatos h2 {
        font-size: 30px;
    }

    .conteudoPergaminho{
        height: 350px;
        margin-bottom: 50px;
    }

    .textFinal p{
        font-size: 25px;
    }
    
}

@media screen and (max-width:500px) {
    p {
        font-size: 10px;
    }

    .imgHistoria {
        height: 180px;
    }


     /* contatos */

     .painelPatrocinadores{
        margin-bottom: 20px;
    }

    .imgPergamino{
        width: 400px;
        height: 400px;
    }

    .textContatos h2 {
        font-size: 25px;
    }

    .conteudoPergaminho{
        height:150px;
        margin-bottom: 50px;
    }

    .textFinal p{
        font-size: 18px;
    }

    .painelLinksContatos{
        margin: 20px 0 10px 0
    }

    /* rodape */
    .rodaPe{
        height: 100px;
    }

    .rodaPe p{
        font-size: 4px;
        bottom: 3px;
        
    }

    .painelImg{
        width: 70px;
        height: 70px;
    }

    .imgLogo {
        width: 65px;
        height: 65px;    
    }
    
    .painelImjJJTech {
        width: 30px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .painelImjJJTech img {
        width: 10px;
        cursor: pointer;
    }
    
    

}


@media screen and (max-height:800px) {
    .imgBlur {
        width: calc(100% - 10px);
        height: calc(100% - 100px);
    }
}